version: '3.8'
services:
  feeder:
    build:
        context: .
        dockerfile: ops/Dockerfile.feeder
    container_name: feeder
    depends_on:
        - flask
        - mongo
  flask:
    build:
        context: .
        dockerfile: ops/Dockerfile
    container_name: flask
    volumes:
      - ./app:/app
    ports:
      - "5000:5000"
    restart: unless-stopped
    environment:
      MONGODB_DATABASE: tilterdb
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: SuperSecret
      MONGODB_PORT: 27017
      MONGODB_HOST: mongo
      FLASK_SECRET_KEY: 12345678901234567890123456789012
      FLASK_APP: main.py
      FLASK_DEBUG: 1
      RUN: flask run --host=0.0.0.0 --port=5000
    command: flask run --host=0.0.0.0 --port=5000
    # Infinite loop, to keep it alive, for debugging
    # command: bash -c "while true; do echo 'sleeping...' && sleep 10; done"
    depends_on:
      - mongo

  mongo-express: # DATABASE ADMINISTRATION
    image: mongo-express:0.54
    container_name: mongo-express
    ports:
      - "8081:8081"
    links:
      - mongo
    restart: always # this is necessary since the volume of mongo causes a longer restart
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: SuperSecret
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: SuperSecret

  mongo:
    image: mongo:4.4.4
    container_name: mongo
    restart: unless-stopped
    command: mongod --auth
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: SuperSecret
      MONGO_INITDB_DATABASE: tilterdb
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - ./volumes:/data/db
    ports:
      - '27017:27017'
