aniso8601==9.0.1
attrs==20.3.0
Babel==2.9.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
dnspython==2.1.0
email-validator==1.1.2
fastjsonschema==2.15.1
flake8==3.9.0
Flask==1.1.2
Flask-Babel==2.0.0
Flask-JWT-Extended==4.2.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-mongoengine==1.0.0
flask-restx==0.2.0
Flask-SQLAlchemy==2.5.1
Flask-User @ file:///home/gebauer/Desktop/repos/tilter/dependencies/dist/Flask_User-1.0.2.3-py2.py3-none-any.whl
Flask-WTF==0.14.3
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
langdetect==1.0.9
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.23.0
numpy==1.20.1
packaging==20.9
pandas==1.2.3
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.0
PyJWT==2.1.0
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.1
tilt==0.0.5
-e git+git@github.com:DaSKITA/tilter.git@fddf07c3c30ad17fae49090813ad7e0f4959fd60#egg=tilter
toml==0.10.2
torch==1.8.0
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
