{% extends "base.html" %}
{% block content %}
    <h1 class="title">{% block title %} {{ _('Welcome to TILTer') }} {% endblock %}</h1>
    <h2 class="subtitle">Übersicht</h2>
    <p>Diese Annotationsplattform ist Teil eines neuen Ökosystems zur Verarbeitung von
        datenschutzrechtlichen Transparenzinformationen. Sie unterstützt den Prozess der Überführung von
        textuellen Datenschutzerklärungen in das strukturierte, maschinenlesbare Format TILT, welches in einem
        Dokumentenspeicher abgelegt werden kann. Später können die so „gewonnen“, also zur Weiterverarbeitung
        aufbereiteten, Informationen über verschiedene Kanäle ausgespielt werden. Beispielhaft werden im Projekt
        DaSKITA bereits eine Browser-Erweiterung oder ein interaktiver dialogbasierter Chatbot entwickelt.</p>
    <img class="index-image" src="{{ url_for('static', filename='images/uebersicht.png') }}">
{% endblock %}