{% extends "base.html" %}
<h1>{% block title %} {{ _('Welcome to TILTer') }} {% endblock %}</h1>
{% block content %}
    <h2>{{ _('Home page') }}</h2>
    <p><a href={{ url_for('user.register') }}>{{ _('Register') }}</a></p>
    <p><a href={{ url_for('user.login') }}>{{ _('Sign in') }}</a></p>
    <p><a href={{ url_for('index') }}>{{ _('Home page') }}</a> ({{ _('accessible to anyone') }})</p>
    <p><a href={{ url_for('member_page') }}>{{ _('Member page') }}</a> ({{ _('login required') }})</p>
{% endblock %}