{% extends 'base.html' %}

{% block content %}
    <!-- Include Label Studio stylesheet -->
    <link href="https://unpkg.com/label-studio@0.8.0/build/static/css/main.css" rel="stylesheet">

    <h1>{% block title %} {{ _('Welcome to TILTer') }} {% endblock %}</h1>
    <h2>{{ _('Task') }} "{{ task.name }}"</h2>
    <div class="return">
        <a href="{{ url_for('tasks') }}"><- {{ _('task overview') }}</a>
    </div>
    {% if descriptions %}
    <div>
        <table class="explanation">
            <tr>
                <th><b>Annotation</b></th>
                <th><b>Description</b></th>
            </tr>
            {% for key, desc in descriptions.items() %}
            <tr>
                <td>{{ _(key) }}</td>
                <td>{{ desc }}</td>
            </tr>
            {% endfor %}
          </table>
    </div>
    {% endif %}

    <!-- Create the Label Studio container -->
    <div id="label-studio"></div>

    <!-- Include the Label Studio library -->
    <script src="https://unpkg.com/label-studio@0.8.0/build/static/js/main.js"></script>

    <!-- Initialize Label Studio -->
    <script>
        const sendAnnotations = async (completion) => {
                        const response = await fetch('{{ target_url }}', {
                            method: "POST",
                            body: JSON.stringify(completion.areas.toJSON()),
                            headers: {
                                "accept": "application/json",
                                "Content-Type": "application/json"
                            }
                        });
                        const content = await response;
                        console.log(content)
                        answer = content.ok.toString().charAt(0).toUpperCase() + content.ok.toString().slice(1);
                        window.location.replace('{{ redirect_url }}?success=' + answer)
                    }

        var labelStudio = new LabelStudio('label-studio', {
            config: `
      <View>
        <View style="padding: 20px; border: 1px solid #CCC; border-radius: 5px; margin-bottom: 5px; position:sticky;
                    background: white; top: 0">
            <Labels name="ner" toName="text">
                {% for label in task.labels %}
                    {% if label.multiple == True %}
                    <Label value="{{ label.name }}" background="{{ colors[loop.index0] }}"/>
                    {% else %}
                    <Label value="{{ label.name }}" background="{{ colors[loop.index0] }}" maxUsages="1"/>
                    {% endif %}
                {% endfor %}
            </Labels>
        </View>
        <View style="border: 1px solid #CCC; border-radius: 5px; padding: 5px">
            <Text name="text" value="$text" showLabels="true"/>
        </View>
      </View>
      `,

            interfaces: [
                "panel",
                "update",
                "controls",
                "side-column",
//                "predictions:menu",
            ],

            task: {
                completions: [{
                    "result": [
                        {% for annotation in annotations %}
                            {
                                "value": {
                                    "start": {{ annotation.start }},
                                    "end": {{ annotation.end }},
                                    "text": `{{ annotation.text }}`,
                                    "labels": [
                                        "{{ _(annotation.label) }}"
                                    ]
                                },
                                "id": "{{ annotation.id }}",
                                "from_name": "ner",
                                "to_name": "text",
                                "type": "labels"
                            },
                        {% endfor %}
                    ]
                  }],
                predictions: [],
                data: {
                    text: ` {% if task.html %}
                                {{ task.text | html_escape }}
                            {% else %}{{ task.text | txt_escape }}
                                {% endif %}`
                }
            },

            onLabelStudioLoad: function (LS) {
                var c = LS.completionStore.addCompletion({
                    userGenerate: true
                });
                LS.completionStore.selectCompletion(c.id);
            },
            onSubmitCompletion: function (LS, completion) {
                sendAnnotations(completion)
            },
            onUpdateCompletion: function (LS, completion) {
                sendAnnotations(completion)
            }
        });
    </script>
{% endblock %}
