{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ _('Welcome to TILTer') }} {% endblock %}</h1>
    {% if tasks %}
        <h2>{{ _('These are your Tasks!') }}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{ _('Task Name') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
                <tr>
                <td><a href="{{ url_for("label", task_id=task.id) }}">{{ task.name }}</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <br><br>
        <h2>{{ _('You currently have no tasks!') }}</h2>
    {% endif%}
    <button onclick="location.href='{{ url_for("create_task") }}'" type="button" class="btn btn-secondary btn-lg btn-block">{{ _('Create a new Task') }}</button>
{% endblock %}
