{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} {{ _('Task Overview') }} {% endblock %}</h1>
    {% if tasks %}
        <!--h2 class="subtitle">{{ _('These are your tasks!') }}</h2-->
        <ul class="accordion">
        {% for task, subtasks in tasks.items() recursive %}
          <li>
          <div class="toggle-container">
            <input type="checkbox" id=task.id name="done" value="task.done" onchange="mark_done(this)">
              <div class="toggle">{% if subtasks %}<i class="fa fa-chevron-right"></i>{% else %}<i class="placeholder"></i>{% endif %}{{ task.name }}</div><a class="accordion-link" href="{{ url_for("label", task_id=task.id) }}">></a>
          </div>
            {% if subtasks %}
                <ul class="inner">
                {{ loop(subtasks.items()) }}
                </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
    {% else %}
        <br><br>
        <h2 class="subtitle">{{ _('You currently have no tasks! Maybe create one?') }}</h2>
    {% endif%}
    <!-- <button onclick="location.href=''" type="button" class="btn btn-secondary btn-lg create-task"><i class="bi bi-file-plus-fill"></i> {{ _('Create new task') }}</button> -->
{% endblock %}

<script>
function mark_done(obj) {
    if($(obj).is(":checked")){
      alert("Yes checked"); //when checked
      $("#page-header-inner").addClass("sticky");
    }else{
      alert("Not checked"); //when not checked
    }

  }

</script>
